<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Register User</h1>
        <form>
            <div class="input-group col-xs-3">
                <label class="input-group-addon" for="username"><span class="glyphicon glyphicon-user"></span></label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
            </div>
            <br>
            <div class="input-group col-xs-3">
                <label class="input-group-addon" for="email"><span class="glyphicon glyphicon-envelope"></span></label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <br>
            <div class="input-group col-xs-3">
                <label class="input-group-addon" for="password"><span class="glyphicon glyphicon-lock"></span></label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <br>
            <div>
                <button class="btn btn-success" type="submit">Create</button>
            </div>
        </form>
        <br>
        <a href="/">Already registered? click here</a>
    </div>
    <script>
        $("form").submit((e) => {
            e.preventDefault();
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const email = document.getElementById("email").value;
            $.ajax({
                type: "POST",
                url: "https://node-exam-camille.herokuapp.com/register",
                data: JSON.stringify({username: username, password: password, email: email}),
                headers: {"Content-Type": 'application/json'},
                success: (response) => {
                    console.log('data', response);
                    window.location.href = "https://node-exam-camille.herokuapp.com/confirmation";
                },
                statusCode: {
                    409: () => {
                        alert( "Username already exists" );
                    }
                }
            });
        });
    </script>
</body>
</html>
