<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="register_page.css">
</head>
<body>
<h1>Register User</h1>
<form action="/confirmation" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </div>
    <br>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </div>
    <br>
    <div>
        <button type="submit">create</button>
    </div>
</form>
<br>
<a href="/">Already registered? click here</a>
<script>
    $("form").submit(function() {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/",
            data: JSON.stringify({username: username, password: password}),
            headers: {"Content-Type": 'application/json'},
            success: function (response) {
                console.log('data', response)
            },
        })
    });
</script>
</body>
</html>
